*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 60px;
    background: white;
    padding: 20px;
    z-index: 50;
    border:2px solid white;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}
.img-tag{
    padding-left: 60px;
}

.icon{
    padding-right: 60px;
     font-size: 40px;
}
